.myheader {
  text-align: center;}

.profilepic
{
  border-radius: 50%
}
.carousel-item{
    height: 700px;
    text-align: center;
}
.item1{
    background-color:red;  

}
.item2{
    background-color:blue; 
   
}
.item3{
    background-color:yellow; 
   
}
a{
  text-decoration: none;
}
